<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Bringing the Internet-of-Things to businesses that can benefit
                    the most.</h3>
                <h3 class="section-subheading text-muted"><u>First Product</u>: A cellular, battery-powered
                    analog-to-digital gauge reader<br>plus a Computer Vision powered SaaS infrastructure to collect and
                    analyze the data.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">
                <!-- <img class="service-image" width="120" height="120" src="//gfycat.com/ifr/OrderlySarcasticBarnowl"> -->
                <!-- <iframe style="border: 7px solid #f1f1f1;" src="http://gfycat.com/ifr/OrderlySarcasticBarnowl" frameborder="0" scrolling="no" width="120" height="120" style="-webkit-backface-visibility: hidden;-webkit-transform: scale(1);" ></iframe> -->
                <!-- <iframe src='https://gfycat.com/ifr/OrderlySarcasticBarnowl?controls=0' frameborder='0' scrolling='no'
                    allowfullscreen width='120' height='120'></iframe> -->
                <video class="service-image" height='120' width='120' autoplay playsinline preload='auto'
                    poster='https://thumbs.gfycat.com/OrderlySarcasticBarnowl-mobile.jpg'>
                    <source src="https://thumbs.gfycat.com/OrderlySarcasticBarnowl-mobile.mp4" type="video/mp4">
                    <source src="https://zippy.gfycat.com/OrderlySarcasticBarnowl.webm" type="video/webm">
                    <source src="https://giant.gfycat.com/OrderlySarcasticBarnowl.mp4" type="video/mp4">
                    <source src="https://thumbs.gfycat.com/OrderlySarcasticBarnowl-mobile.mp4" type="video/mp4">
                </video>
                <!-- <div style='position:relative; padding-bottom:calc(100.00% + 44px)'><iframe
                        src='https://gfycat.com/ifr/OrderlySarcasticBarnowl' frameborder='0' scrolling='no' width='120'
                        height='120' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div> -->
                <h4 class="service-heading">Prototype</h4>
            </div>
            <div class="col-lg-3 text-center">
                <img class="service-image" width="120" height="120" src="img/about/schematic.jpg">
                <h4 class="service-heading">Design</h4>
            </div>
            <div class="col-lg-3 text-center">
                <img class="service-image" width="120" height="120" src="img/about/pcb.jpg">
                <h4 class="service-heading">Fabricate</h4>
            </div>
            <div class="col-lg-3 text-center">
                <img class="service-image" width="120" height="120" src="img/about/gauge-cv.jpg">
                <h4 class="service-heading">Computer Vision</h4>
            </div>
        </div>
    </div>
</section>