<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Let's bring the Internet-of-Things to the businesses that can most benefit.</h3>
                    <h3 class="section-subheading text-muted"><u>First Product</u>: A cellular, battery-powered analog-to-digital gauge reader<br>plus a Computer Vision powered SaaS infrastructure to collect and analyze the data.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img class="service-image" width="120" height="120" src="//giant.gfycat.com/OrderlySarcasticBarnowl.gif">
                    <!-- <iframe style="border: 7px solid #f1f1f1;" src="http://gfycat.com/ifr/OrderlySarcasticBarnowl" frameborder="0" scrolling="no" width="120" height="120" style="-webkit-backface-visibility: hidden;-webkit-transform: scale(1);" ></iframe> -->
                    <h4 class="service-heading">Prototype</h4>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="service-image" width="120" height="120" src="img/about/schematic.jpg">
                    <h4 class="service-heading">Design</h4>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="service-image" width="120" height="120" src="img/about/pcb.jpg">
                    <h4 class="service-heading">Fabricate</h4>
                </div>
                <div class="col-lg-3 text-center">
                    <img class="service-image" width="120" height="120" src="img/about/gauge-cv.jpg">
                    <h4 class="service-heading">Computer Vision</h4>
                </div>
            </div>
        </div>
    </section>
