<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">My path through the creation of a B2B Internet-of-Things product over the past six months.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for post in site.posts reversed %}
                        <li class="{% cycle 'timeline-inverted', '' %}">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.baseurl }}{{ post.image }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">{{ post.title }}</h4>
                                </div>
                                <div class="timeline-body text-muted">
                                    {{ post.content }}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <!-- <li class="timeline-inverted"> -->
                        <li>
                            <div class="timeline-image">
                              <h4>
                                <a class="page-scroll" href="#team">
                                    <br>You?
                                </a>
                              </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Does this sound interesting?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <em>
                                        Because I need your help!
                                      </em>
                                      <br><br>
                                      I've answered a lot of questions, but&nbsp;
                                      there are many more: what is the right sales channel mix,&nbsp;
                                      do I charge for hardware or just for a service contract,&nbsp;
                                      what is the customer support model, and&nbsp;
                                      what is the minimum capital investment needed to scale,&nbsp;
                                      among many others.
                                      <br><br>
                                      I need a partner with the energy, interest, and skills to help me transform these
                                      ideas and my experience into a profitable business. If you're interested, <a class="page-scroll" href="#team">get in touch</a>!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                              <h4 class="circle-text">
                                <a class="page-scroll" href="#team">
                                    ctrl
                                    <br>industries
                                </a>
                              </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading"></div>
                                <div class="timeline-body"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
